.tableRow {
  display: flex;
  align-items: center;
  border: 1px solid red;
}

.albumId {
  min-width: 60px;
}

.id {
  min-width: 60px;
}

.title {
  flex-basis: 75%;
}

.imageDiv {
  height: 50px;
  width: 50px;
}
